{% extends 'admin_lte/base.html' %}
{% load static %}

{% block title %} AdminLTE 3 | Forgot Password {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'admin_lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<script>
    var open_menu = "extra_menu"
    var active_menu = "extra_panel"
    var active_submenu = "extra_forgot"
</script>
{% endblock %}

{% block body_class %}
<body class="hold-transition login-page">
{% endblock %}

{% block full_content %}

<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'admin_lte:index2' %}"><b>Admin</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

      <form action="{% url 'admin_lte:extra_recover' %}" method="post">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <p class="mt-3 mb-1">
        <a href="{% url 'admin_lte:extra_login' %}">Login</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'admin_lte:extra_register' %}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'admin_lte/dist/js/admin_lte.min.js' %}"></script>
<script src="{% static 'admin_lte/dist/js/demo.js' %}"></script>

{% endblock %}
